@CHARSET "UTF-8";

#matchFixed.match_sort_menu_selected {
	width: 311px;
	height: 43px;
	float: left;
	background-image: url(../artifact/fixed_match_selected.png);
}

#matchFixed.match_sort_menu_unselected {
	width: 311px;
	height: 43px;
	float: left;
	background-image: url(../artifact/fixed_match_unselected.png);
	cursor: pointer;
}

#matchSmart.match_sort_menu_selected {
	width: 311px;
	height: 43px;
	float: left;
	background-image: url(../artifact/smart_match_selected.png);
}

#matchSmart.match_sort_menu_unselected {
	width: 311px;
	height: 43px;
	float: left;
	background-image: url(../artifact/smart_match_unselected.png);
	cursor: pointer;
}

#matchTeacher.match_sort_menu_selected {
	width: 311px;
	height: 43px;
	float: left;
	background-image: url(../artifact/teacher_match_selected.png);
}

#matchTeacher.match_sort_menu_unselected {
	width: 311px;
	height: 43px;
	float: left;
	background-image: url(../artifact/teacher_match_unselected.png);
	cursor: pointer;
}

#classTypeEasy.class_sort_menu_selected {
	width: 157px;
	height: 44px;
	float: left;
	background-image: url(../artifact/type_easy_selected.png);
}

#classTypeEasy.class_sort_menu_unselected {
	width: 157px;
	height: 44px;
	float: left;
	cursor: pointer;
	background-image: url(../artifact/type_easy_unselected.png);
}

#classTypeMiddle.class_sort_menu_selected {
	width: 155px;
	height: 44px;
	float: left;
	background-image: url(../artifact/type_middle_selected.png);
}

#classTypeMiddle.class_sort_menu_unselected {
	width: 155px;
	height: 44px;
	float: left;
	cursor: pointer;
	background-image: url(../artifact/type_middle_unselected.png);
}

#classTypeFreeTalk.class_sort_menu_selected {
	width: 155px;
	height: 44px;
	float: left;
	background-image: url(../artifact/type_free_talk_selected.png);
}

#classTypeFreeTalk.class_sort_menu_unselected {
	width: 155px;
	height: 44px;
	float: left;
	cursor: pointer;
	background-image: url(../artifact/type_free_talk_unselected.png);
}

#classTypeElementBook.class_sort_menu_selected {
	width: 156px;
	height: 44px;
	float: left;
	background-image: url(../artifact/type_element_book_selected.png);
}

#classTypeElementBook.class_sort_menu_unselected {
	width: 156px;
	height: 44px;
	float: left;
	cursor: pointer;
	background-image: url(../artifact/type_element_book_unselected.png);
}

#classTypeBussiness.class_sort_menu_selected {
	width: 154px;
	height: 44px;
	float: left;
	background-image: url(../artifact/type_business_selected.png);
}

#classTypeBussiness.class_sort_menu_unselected {
	width: 154px;
	height: 44px;
	float: left;
	cursor: pointer;
	background-image: url(../artifact/type_business_unselected.png);
}

#classTypeExam.class_sort_menu_selected {
	width: 157px;
	height: 44px;
	float: left;
	background-image: url(../artifact/type_exam_selected.png);
}

#classTypeExam.class_sort_menu_unselected {
	width: 157px;
	height: 44px;
	float: left;
	cursor: pointer;
	background-image: url(../artifact/type_exam_unselected.png);
}

[id='1month'].month_menu_selected {
	width: 235px;
	height: 44px;
	float: left;
	background-image: url(../artifact/fixed_1month_selected.png);
}

[id='1month'].month_menu_unselected {
	width: 235px;
	height: 44px;
	float: left;
	background-image: url(../artifact/fixed_1month_unselected.png);
	cursor: pointer;
}

[id='3month'].month_menu_selected {
	width: 232px;
	height: 44px;
	float: left;
	background-image: url(../artifact/fixed_3month_selected.png);
}

[id='3month'].month_menu_unselected {
	width: 232px;
	height: 44px;
	float: left;
	background-image: url(../artifact/fixed_3month_unselected.png);
	cursor: pointer;
}

[id='6month'].month_menu_selected {
	width: 233px;
	height: 44px;
	float: left;
	background-image: url(../artifact/fixed_6month_selected.png);
}

[id='6month'].month_menu_unselected {
	width: 233px;
	height: 44px;
	float: left;
	background-image: url(../artifact/fixed_6month_unselected.png);
	cursor: pointer;
}

[id='12month'].month_menu_selected {
	width: 234px;
	height: 44px;
	float: left;
	background-image: url(../artifact/fixed_12month_selected.png);
}

[id='12month'].month_menu_unselected {
	width: 234px;
	height: 44px;
	float: left;
	background-image: url(../artifact/fixed_12month_unselected.png);
	cursor: pointer;
}

#twice.period_menu_selected {
width:312px;
	height: 43px;
	float: left;
	background-image: url(../artifact/twice_selected.png);
}

#twice.period_menu_unselected {
width:312px;
	height: 43px;
	float: left;
	background-image: url(../artifact/twice_unselected.png);
	cursor: pointer;
}
#thrice.period_menu_selected {
width:310px;
	height: 43px;
	float: left;
	background-image: url(../artifact/thrice_selected.png);
}

#thrice.period_menu_unselected {
width:310px;
	height: 43px;
	float: left;
	background-image: url(../artifact/thrice_unselected.png);
	cursor: pointer;
}
#fiveTimes.period_menu_selected {
width:312px;
	height: 43px;
	float: left;
	background-image: url(../artifact/five_times_selected.png);
}

#fiveTimes.period_menu_unselected {
width:312px;
	height: 43px;
	float: left;
	background-image: url(../artifact/five_times_unselected.png);
	cursor: pointer;
}

.wSelect {
	margin-left: 30px;
}

.class_duration_selected {
	width: 98px;
	height: 26px;
	background-image: url(../artifact/select_selected.png);
	margin: 0 auto;
}

.class_duration_unselected {
	width: 98px;
	height: 26px;
	background-image: url(../artifact/select_unselected.png);
	margin: 0 auto;
	cursor: pointer;
}



h6 {
	magin: 0 0;
	padding: 0 0;
}

span {
	display: inline;
}

label {
	display: block;
}

.pay-label {
	font-size: 15px;
	vertical-align: middle;
	margin-right: 25px;
	float: left;
}

.pay-label:first-of-type {
	font-size: 15px;
	vertical-align: middle;
	margin-right: 25px;
	margin-left: 40px;
}

.teacher-select-button {
	width: 107px;
	height: 37px;
	background-image: url(../artifact/teacher_select_button.png);
	cursor: pointer;
}
.iradio_minimal-grey{
	float:left;
}